*{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
* a{
	text-decoration: none !important;
}
a:hover{
	text-decoration: none !important;
}
.lh{
	line-height: 1.7;
}

/* Header */

.fondogris{
	background-color: #1f4c4c;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.colormenu{
	background-color: #00B2AE;
	padding: .8% 0;
}
h1{
	font-size: 370%;
	/*padding-top: 13%;*/
}

/*Slogan */

.about {
    padding: 50px 0;
    background: url(../img/figuras.jpg) center center scroll;
}

.titleabout{
	color: #1f4c4c;
	font-size: 2.7em;
}

.textarea{
	color: #1f4c4c;
	font-size: 1.7em;

}


/*GRADIENTE BACKGROUND*/

body {
	background: linear-gradient(-45deg, #1f4c4c, #183A3A, #1F4C4C, #F49369);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Footer */



@media (max-width: 767px){
	header{
		font-size: 80%;
	}
	.flex-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.flex-column > .col-xs-6 > h4{	
		text-align: center !important;
	}

	.flex-column > .col-xs-6 {	
		width: 95%;
	}
}